@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;
@use '../../partials/variables' as *;

.tutorial {
    @include flex-centering;
    flex-direction: column;
    gap: 2.5rem;
    
    @include desktop {
        gap: 5rem;
    }

    &__title {
        @include title-text;
        font-size: 2rem;
        
        @include desktop {
            font-size: 3rem;
        }
    }

    &__tutorial-container {
        display: flex;
        gap: 5rem;
    }

    &__information {
        font-size: 0.9rem;
        font-family: $lato;
        line-height: 1.3;
        
        @include desktop {
            font-size: 1.2rem;
        }
    }
    
    &__tip-container {
        max-width: 60ch;
        height: 10rem;
        color: white;
    }
}