@use './partials/mixins' as *;
@use './partials/variables' as *;
@use './partials/typography' as *;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $roboto-condensed;
}

.maki {
  background-color: $maki;
}
.wasabi {
  background-color: $wasabi;
}
.chopsticks {
  background-color: $chopsticks;
}
.dumpling {
  background-color: $dumpling;
}
.tempura {
  background-color: $tempura;
}
.sashimi {
  background-color: $sashimi;
}
.pudding {
  background-color: $pudding;
}