@use './partials/mixins' as *;
@use './partials/variables' as *;
@use './partials/typography' as *;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $roboto-condensed;
}