@use '../../partials/variables' as *;
@use '../../partials/typography' as *;
@use '../../partials/mixins' as *;

.menu-board {
    width: 48.5rem;
    padding: 2rem;
    height: 29.5625rem;
    @include flex-wrap;
    gap: 1.5rem;
}