@use '../../partials/variables' as *;
@use '../../partials/typography' as *;
@use '../../partials/mixins' as *;

.menu-board {
    height: 90%;
    padding: 1rem;
    @include flex-wrap;
    justify-content: center;
    gap: .5rem;
    
    @include desktop {
        justify-content: center;
        padding: 2rem;
        gap: 1.5rem;
        width: 48.5rem;
        height: 29.5625rem;
    }
}