@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;
@use '../../partials/variables' as *;

.game-area {
    height: 90vh;
    position: relative;
    @include flex-column;
    justify-content: space-between;

    &__game-component-container {
        @include flex-centering;
        align-items: flex-start;
        justify-content: space-between;
        height: 37.5rem;
    }

    &__player-interaction-container {
        display: flex;
    }

    &__game-over-container {
        position: absolute;
        top: 33vh;
        left: 33vw;
        box-shadow: 0 5px 30px rgba(0,0,0,0.3);
        border-radius: 10px;
    }

    &--game-over {
        // background: rgba(0,0,0,0.5);
        filter: blur(10px)
    }
}