@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;
@use '../../partials/variables' as *;

.tutorial-tip {
    cursor: pointer;
    width: 15rem;
    height: 15rem;
    background-position: -1.875rem 0;
    @include primary-box-shadow;
    border-radius: 1rem;
    width: 15rem;
    max-height: 15rem;
    background-color: white;
    @include flex-centering;
    flex-direction: column;

    &:hover {
        transform: scale(1.5);
        transition: transform .5s ease;
    }

    &__header {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.404);
        height: 3rem;
        border-radius: 1rem 1rem 0 0;

    }

    
    &__title {
        @include title-text;
        padding: 1rem;
        margin: 0;

    }

    &__icon {
        max-height: 12rem;
        padding: 1rem;
    }
}

