@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;
@use '../../partials/variables' as *;

.tutorial-tip {
    width: 15rem;
    height: 15rem;
    background-size: cover;
    background-position: -30px 0px;
    @include primary-box-shadow;
    border-radius: 1rem;
    

    &:hover {
        transform: scale(1.5);
        transition: transform .5s ease;
    }

    &__header {

    }

    &__title {

    }
}

