@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;
@use '../../partials/variables' as *;

.tutorial-tip {
    cursor: pointer;
    @include primary-box-shadow;
    border-radius: 1rem;
    background-color: white;
    @include flex-centering;
    flex-direction: column;
    width: 12rem;
    height: 12rem;

    @include desktop {
        width: 15rem;
        height: 15.5rem;
    }

    &:hover {
        transform: scale(1.2);
        transition: transform .5s ease;
        
        @include desktop {
            transform: scale(1.5);
        }
    }

    &__header {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.404);
        border-radius: 1rem 1rem 0 0;
    }

    
    &__title {
        @include title-text;
        padding: 1rem;
        margin: 0;
    }

    &__icon {
        height: 8.5rem;
        padding: 1rem;
        
        @include desktop {
            height: 12rem;

        }
    }
}

