@use '../../partials/variables' as *;
@use '../../partials/typography' as *;
@use '../../partials/mixins' as *;

.player-card {
    // filter: grayscale(.5);
    cursor: pointer;
    height: 100%;
    width: 10rem;
    @include flex-column;
    gap: .5rem;
    @include primary-box-shadow;
    border-radius: 10px;
    
    &:hover {
        transform: translateY(-25px);
        transition: transform .15s ease;
        filter: grayscale(0);
    }

    &__card-icons {
        display: flex;
        padding: .5rem;
    }

    &__top-icon {
        max-width: 3rem;
        max-height: 3rem;
    }

    &__main-card-container {
        @include flex-centering;
        flex-grow: 1;
    }
    
    &__main-icon {
        max-width: 7.5rem;
        max-height: 7rem;
    }
    
    &__type-box {
        @include flex-centering;
        padding: .5rem 0;
        background-color: $accent;
        border-radius: 0 0 10px 10px;
        height: 3.125rem;
    }

    &__type-title {
        @include title-text;
        padding: 0 .25rem;
        font-size: 1rem;
        text-transform: uppercase;
    }
    
    &__point-value {
        text-align: center;
        margin: 0;
        min-width: 5ch;
        max-width: 8ch;
        padding: 0 .25rem;
        font-size: .9rem;
        font-weight: bold;
    }
}

.selected {
    transform: translateY(-25px);
    filter: grayscale(0);
}