@use '../../partials/variables' as *;
@use '../../partials/typography' as *;
@use '../../partials/mixins' as *;

.player-card {
    // height: 100%;
    width: 10rem;
    @include flex-column;
    gap: .5rem;
    @include primary-box-shadow;
    border-radius: 10px;

    &__card-icons {
        display: flex;
        justify-content: space-between;
    }

    &__top-icon {
        padding: .5rem 0 ;
    }

    &__main-card-container {
        @include flex-centering;
        flex-grow: 1;
    }
    
    &__main-icon {

    }
    
    &__type-box {
        @include flex-centering;
        padding: .5rem 0;
        background-color: $accent;
        border-radius: 0 0 10px 10px;
        height: 3.125rem;
    }

    &__type-title {
        margin: 0;
        padding: 0 .25rem;
        text-align: center;
        color: white;
        letter-spacing: 1px;
        text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
        text-transform: uppercase;
    }
    
    &__point-value {
        text-align: center;
        margin: 0;
        min-width: 5ch;
        max-width: 10ch;
        padding: 0 .25rem;
        font-size: .9rem;
        font-weight: bold;
    }
}