@use '../../partials/variables' as *;
@use '../../partials/typography' as *;
@use '../../partials/mixins' as *;

.opponent-area {
    padding: 1rem;
    flex-basis: 37.875rem;
    @include flex-column;
    align-items: flex-end;
    gap: 1rem;
}