@use '../../partials/variables' as *;
@use '../../partials/typography' as *;
@use '../../partials/keyframes' as *;
@use '../../partials/mixins' as *;

.error-modal {
    position: absolute;
    background-color: rgba(250, 128, 114, 0.3);
    backdrop-filter: blur(15px);
    padding: 5rem;
    @include primary-box-shadow;
    border-radius: 5%;
    @include flex-centering;
    flex-direction: column;

    &--game {
        box-shadow: unset;
        position: relative;
        border-radius: unset;
        height: 90vh;
    }

    &__image {

    }

    &__message-container {

    }

    &__title {

    }

    &__message {

    }

    &__button {
        @include button-secondary;
        // width: 7rem;
        padding: .75rem 1.5rem;
    }
}