@use '../../partials/variables' as *;
@use '../../partials/typography' as *;
@use '../../partials/keyframes' as *;
@use '../../partials/mixins' as *;

.error-modal {
    position: absolute;
    background-color: rgba(250, 128, 114, 0.3);
    backdrop-filter: blur(15px);
    padding: 5rem;
    @include primary-box-shadow;
    border-radius: 5%;
    @include flex-centering;
    flex-direction: column;

    &__image {

    }

    &__message-container {

    }

    &__title {

    }

    &__message {

    }

    &__button {
        @include button-secondary;
        // width: 7rem;
        padding: .75rem 1.5rem;
    }
}

// .game-over {
//     // height: 30rem;
//     padding: 3rem 0;
//     width: 50rem;
//     background-color: salmon;
//     @include primary-box-shadow;
//     border-radius: 10px;
//     transform: rotateX(30px);
//     @include flex-centering;
//     flex-direction: column;

//     &__hero-image {
//         max-height: 10rem;
//         max-width: 20rem;
//     }

//     &__title {
//         margin: 0;
//     }

//     &__results-container {

//     }

//     &__results-title {
//         margin: 0;
//     }

//     &__results-list {
//         list-style: none;
//         margin: 0;
//         padding: 0;
//     }

//     &__new-game {
//         @include button-game;
//         background-color: white;
//         margin: 0;
//     }
// }