@use '../../partials/variables' as *;
@use '../../partials/typography' as *;
@use '../../partials/keyframes' as *;
@use '../../partials/mixins' as *;

.player-icon {
    padding: 0 0.25rem;
    @include player-icon-container;
    max-width: 4rem;

    @include desktop {
        max-width: unset;
    }

    &__image {
        cursor: pointer;
        max-width: 4rem;
        height: 4rem;
        padding-left: .25rem;
        
        @include desktop {
            padding-left: .75rem;
            max-width: 6rem;
            height: 6rem;
        
        }
    }

}