@use '../../partials/variables' as *;
@use '../../partials/typography' as *;
@use '../../partials/keyframes' as *;
@use '../../partials/mixins' as *;

.player-icon {
    align-self: center;
    padding: 0 0.25rem;

    &__image {
        border-radius: 50%;
        cursor: pointer;
        @include primary-box-shadow;
    }

}