@use '../../partials/variables' as *;
@use '../../partials/typography' as *;
@use '../../partials/mixins' as *;

.menu-card-nigiri {
    cursor: pointer;
    background-color: $nigiri;
    @include flex-centering;
    border-radius: 10px;
    @include primary-box-shadow;
    flex-direction: column;
    width: 7rem;
    
    @include desktop {
        width: 10rem;
        padding-bottom: .5rem;
    }

    &__dish-type {
        background-color: $primary-cta;
        color: white;
        border-radius: 10px 10px 0 0;
        width: 100%;
        padding: .5rem 1rem;
        margin: 0;
        margin-bottom: .5rem;
        text-align: center;
        @include text($roboto, 1.25rem, bold, normal);
        letter-spacing: 1px;
        text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
    }
  
    &__dish-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 2rem;
    
        @include desktop {
            height: 2.85rem;
        }
    }

    &__dish-name {
        margin: .5rem;
    }

    &__dish-image {
        max-width: 2rem;
        max-height: 2rem;
        
        @include desktop {
            max-width: 3rem;
            max-height: 3rem;
        }
    }

    &__point {
        font-weight: bold;
        font-size: 1.1rem;
    }
}