@use '../../partials/variables' as *;
@use '../../partials/typography' as *;
@use '../../partials/mixins' as *;

.player-area {
    background-color: powderblue;
    height: 20rem;
    width: 80rem;
    // flex-grow: 1;
    // width: 70rem;
    padding: 1rem 1rem;

    &__title {
        margin: 0;
    }
    
    &__action-description {
        margin: 0;

    }

    &__player-action-container {
        padding: 3rem;
        @include flex-centering;
        flex-direction: column;
        justify-content: center;
    }
}