@use '../../partials/variables' as *;
@use '../../partials/typography' as *;
@use '../../partials/keyframes' as *;
@use '../../partials/mixins' as *;
@use '../PlayerResults/PlayerResults.scss';

.player-results {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $accent;
    
    &__super-script {
        font-size: 1rem;
        
        @include desktop {
            font-size: 1.25rem;
        }
    }

    &--first{
        background-color: $primary-cta;
        color: white;
        height: 5rem;
        
        @include desktop {
            height: 7rem;
        }
    }

    &__place--first {
        @extend .player-results__place;
        font-size: 2rem;
        margin: 0;

        @include desktop {
            font-size: 3rem;
        }
    }

    &__player-name--first {
        @extend .player-results__player-name;
        font-size: 1.3rem;
    }
    
    &__player-points--first {
        @extend .player-results__player-points;
        font-size: 1.3rem;
    }
}