@use '../../partials/variables' as *;
@use '../../partials/typography' as *;
@use '../../partials/mixins' as *;

.played-modal {
    display: flex;

    &__player-name {
        @include title-text;
        text-align: left;
        padding: .5rem;
    }

    &__played-list {
        list-style: none;
        margin: 0;
        padding: 0.25rem;
        display: flex;
        justify-content: space-evenly;
        gap: .5rem;
    }

    &__played-item {
        margin: 0;
        padding: 0;
        text-align: center;
    }
    
    &__visible {
        // display: inline-block;
        background-color: lightsteelblue;
        height: 7.575rem;
        width: 29rem;
        // width: 20rem;
    }

    &__hidden {
        display: none;
    }
}

