@use '../../partials/variables' as *;
@use '../../partials/typography' as *;
@use '../../partials/mixins' as *;

.played-modal {
    display: flex;
    // justify-content: space-between;

    &__player-name {
        @include title-text;
        text-align: left;
    }
    
    &__visible {
        // display: inline-block;
        background-color: lightgrey;
        height: 7.575rem;
        // flex-basis: 100%;
        width: 20rem;
    }

    &__hidden {
        display: none;
    }
}

