@use '../../partials/variables' as *;
@use '../../partials/typography' as *;
@use '../../partials/keyframes' as *;
@use '../../partials/mixins' as *;
@use '../PlayerModal/PlayerModal.scss';

.opponent-modal {
    background-color: lightsteelblue;
    padding: 0 .5rem;
    @include flex-centering;
    @include primary-box-shadow;

    &__player-name {
        @include title-text;
        text-align: left;
        padding: .5rem;
        font-size: 1rem;
        
        @include desktop {
            font-size: 1.3rem;
        }
    }

    &__played-list {
        list-style: none;
        margin: 0;
        padding: 0.25rem;
        display: flex;
        justify-content: space-evenly;
        gap: 1rem;
        height: 4rem;
        @include flex-centering;
        
        @include desktop {
            height: 5.8125rem;
        }
    }

    &__played-item {
        @extend .player-modal__item;
    }
    
    &__visible {
        @include modal-slide-animation;
    }

    &__hidden {
        display: none;
    }
}