@use '../../partials/variables' as *;
@use '../../partials/typography' as *;
@use '../../partials/mixins' as *;

.modal-icon {

    &__icon-container {
        height: 4rem;
        width: 4rem;
        @include flex-centering;
    }

    &__food-icon {
        max-width: 4rem;
        max-height: 4rem;
    }

    &__card-count {
        font-family: $roboto;
        font-size: 1.3rem;
        margin: 0;
    }
}