@use '../../partials/variables' as *;
@use '../../partials/typography' as *;
@use '../../partials/mixins' as *;
@use '../../partials/keyframes' as *;

.menu-desc {
    @include flex-centering;
    flex-direction: column;
    gap: .25rem;
    position: absolute;
    padding: 1rem 2rem;
    left: 47%;
    right: 53%;
    top: 30%;
    bottom: 70%;
    width: 30rem;
    height: 30rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    @include primary-box-shadow;

    &__dish-icon {
        padding: 1rem;
        max-width: 6rem;
        max-height: 6rem;
        background-color: lightgrey;
        border-radius: 50%;
    }

    &__title {
        text-transform: uppercase;
        @include title-text;
        color: black;
    }

    &__sub-info {
        font-family: $roboto;
        font-style: italic;
        font-weight: light;
        // width: 40ch;
    }
    
    &__description {
        font-size: 1.1rem;
        line-height: 1.3;
        // width: 40ch;
        // margin: 1.5rem 0;
    }
    
    &__secondary-description {
        // width: 40ch;
        font-weight: bold;
    }
}