@use '../../partials/variables' as *;
@use '../../partials/typography' as *;
@use '../../partials/mixins' as *;

.player-hand {
    height: 15rem;
    background-color: lightcyan;
    display: flex;
    justify-content: space-evenly;
}