@use '../../partials/variables' as *;
@use '../../partials/typography' as *;
@use '../../partials/keyframes' as *;
@use '../../partials/mixins' as *;

.select-card {
    cursor: pointer;
    margin: auto;
    height: 3rem;

    background: none;
    border: 3px solid $dumpling;
    font: $roboto;
    color: $dumpling;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: lowercase;
    line-height: 1;
    border-radius: 4px;
    transition: 0.3s;
    
    &:hover {
        box-shadow: inset 9.5em 0 0 0 $dumpling;
        border: 3px solid $dumpling;
        color: white;
    }

    &:active {
        transform: translate(3px, 3px);
    }
}