@use './variables' as *;

// Breakpoints
@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

// Flex mixins
@mixin flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-centering {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Font mixins
@mixin text($font-family, $font-size, $font-weight, $line-height) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight ;
    line-height: $line-height;
}

// Button mixins
@mixin button-primary {
    @include text($roboto, 1rem, normal, normal);
    cursor: pointer;
    border: none;
    border-radius: 1.5625rem;
    background: grey;
    color: white;
    text-transform: uppercase;
    margin: .5rem;
    padding: 1rem 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    &:hover {
        background-color: black;
        transition: all .15s ease;
    }
    &:active {
        transform: translate(4px, 4px);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
    }
}

@mixin button-secondary {
    @include text($roboto, 1rem, bold, normal);
    cursor: pointer;
    border: 3px solid black;
    border-radius: 1.5625rem;
    color: black;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: .5rem;
    padding: 1rem 0;

    &:hover {
        background-color: black;
        color: white;
        font-weight: normal;
        transition: all .15s ease;
    }
    &:active {
        transform: translate(4px, 4px);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
    }
}