// Lato

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/lato/Lato-Bold.woff2') format('woff2'),
        url('../assets/fonts/lato/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/lato/Lato-Italic.woff2') format('woff2'),
        url('../assets/fonts/lato/Lato-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/lato/Lato-Black.woff2') format('woff2'),
        url('../assets/fonts/lato/Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/lato/Lato-Regular.woff2') format('woff2'),
        url('../assets/fonts/lato/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/lato/Lato-Hairline.woff2') format('woff2'),
        url('../assets/fonts/lato/Lato-Hairline.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}



// Roboto
@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto/Roboto-Black.woff2') format('woff2'),
        url('../assets/fonts/roboto/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto/Roboto-Bold.woff2') format('woff2'),
        url('../assets/fonts/roboto/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto/Roboto-Italic.woff2') format('woff2'),
        url('../assets/fonts/roboto/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto/Roboto-Light.woff2') format('woff2'),
        url('../assets/fonts/roboto/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto/Roboto-Medium.woff2') format('woff2'),
        url('../assets/fonts/roboto/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto/Roboto-Thin.woff2') format('woff2'),
        url('../assets/fonts/roboto/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto/Roboto-Regular.woff2') format('woff2'),
        url('../assets/fonts/roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


// Roboto Condensed

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../assets/fonts/roboto-condensed/RobotoCondensed-Bold.woff2') format('woff2'),
        url('../assets/fonts/roboto-condensed/RobotoCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../assets/fonts/roboto-condensed/RobotoCondensed-Italic.woff2') format('woff2'),
        url('../assets/fonts/roboto-condensed/RobotoCondensed-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../assets/fonts/roboto-condensed/RobotoCondensed-Light.woff2') format('woff2'),
        url('../assets/fonts/roboto-condensed/RobotoCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../assets/fonts/roboto-condensed/RobotoCondensed-Regular.woff2') format('woff2'),
        url('../assets/fonts/roboto-condensed/RobotoCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}